<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <style>
     table {
        width: 100%;
        /*border-collapse: collapse;*/
        border: 2px solid rgb(0,0,0);
        font-family: sans-serif;
        font-size: .8rem;
    }

    .border_left {
        border-left: 1px solid rgb(0,0,0);
    }

    tr.border_top td {
        border-top: 1px solid rgb(0,0,0);
    }

    tr.summen_zeile td {
        border-top: 1px solid rgb(0,0,0);
        border-bottom: 1px solid rgb(0,0,0);
        font-weight: bold;
    }

    tr.grau {
        background-color: #EEEEEE;
    }

    td, th {
        padding: 2px;
    }

    caption {
        caption-side: bottom;
        font-style: italic;
        margin-top: 5px;
    }

    </style>
</head>
<body>
<table cellspacing="0" cellpadding="0">
    <caption>Listenausgabe der Zähldaten</caption>
    <col style="width:8em"/>
    <col style="width:8em"/>
    <col />
    <col />
    <col />
    <col />
    <col />
    <col style="width:10em"/>
    <col style="width:2em"/>
    <thead>
    <tr>
        <th colspan="2" >
            Zeit
        </th>
        <th colspan="5" class="border_left">
            Typ
        </th>
        <th colspan="2" class="border_left">
            Klasse
        </th>
    </tr>
    <tr class="border_bottom">
        <th>
            von
        </th>
        <th>
            bis
        </th>
        <th class="border_left">
            Pkw
        </th>
        <th>
            Lkw
        </th>
        <th>
            LZ
        </th>
        <th>
            Bus
        </th>
        <th>
            Krad
        </th>
        <th class="border_left">
            KFZ
        </th>
        <th>
            SV
        </th>
    </tr>
    </thead>
    <tbody>
    <tr class="border_top">
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td class="border_left">
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td class="border_left">
            xxx
        </td>
        <td>
            xxx
        </td>
    </tr>
    <tr>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td class="border_left">
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td class="border_left">
            xxx
        </td>
        <td>
            xxx
        </td>
    </tr>
    <tr>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td class="border_left">
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td class="border_left">
            xxx
        </td>
        <td>
            xxx
        </td>
    </tr>
    <tr>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td class="border_left">
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td class="border_left">
            xxx
        </td>
        <td>
            xxx
        </td>
    </tr>
    <tr class="summen_zeile">
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td class="border_left">
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td class="border_left">
            xxx
        </td>
        <td>
            xxx
        </td>
    </tr>
    <tr class="summen_zeile grau">
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td class="border_left">
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td class="border_left">
            xxx
        </td>
        <td>
            xxx
        </td>
    </tr>
    <tr class="summen_zeile grau">
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td class="border_left">
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td class="border_left">
            xxx
        </td>
        <td>
            xxx
        </td>
    </tr>
    <tr>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td class="border_left">
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td class="border_left">
            xxx
        </td>
        <td>
            xxx
        </td>
    </tr>
    <tr>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td class="border_left">
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td class="border_left">
            xxx
        </td>
        <td>
            xxx
        </td>
    </tr>
    <tr>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td class="border_left">
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td class="border_left">
            xxx
        </td>
        <td>
            xxx
        </td>
    </tr>
    <tr class="summen_zeile">
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td class="border_left">
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td class="border_left">
            xxx
        </td>
        <td>
            xxx
        </td>
    </tr>
    <tr>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td class="border_left">
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td class="border_left">
            xxx
        </td>
        <td>
            xxx
        </td>
    </tr>
    <tr>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td class="border_left">
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td class="border_left">
            xxx
        </td>
        <td>
            xxx
        </td>
    </tr>
    <tr>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td class="border_left">
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td>
            xxx
        </td>
        <td class="border_left">
            xxx
        </td>
        <td>
            xxx
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>